* {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.book-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    column-gap: 20px;
    row-gap: 40px;
    margin: 0 50px;
    margin-top: 50px;
    animation: fade 1s;
    margin-top: 100px;
}

.book-section-content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 900px;
}

.book-head {
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 7px;
    line-height: 2;
}

.book-para {
    font-size: 20px;
    letter-spacing: 1px;
}

.teacher-section-main {
    display: flex;
    column-gap: 20px;
    row-gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 150px;
}

.teacher-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
    column-gap: 20px;
    align-items: center;
    width: 500px;
    border: 1px solid #eeeeee;
    padding: 30px 10px;
    border-radius: 7px;
    box-shadow: 2px 2px 20px #eeeeee;
    transition: .2s;
    animation: load;
    animation-timeline: view();
    animation-range: entry 0 cover 20%;
}

.teacher-card:hover {
    background-color: #fcd9bd;
}

.top-section {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.teacher-content {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    line-height: 1.5;
}

.teacher-img {
    width: 200px;
    border-radius: 7px;
}

.book-now-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #fc8019;
    color: white;
    padding: 5px 20px;
    border-radius: 7px;
    cursor: pointer;
    transition: .2s;
    display: flex;
    justify-self: end;
    text-decoration: none;
    font-size: 18px;
}

.book-now-btn:hover {
    scale: 1.1;
}

.book-session-head {
    text-decoration: none;
    font-size: 25px;
    background-color: #fc8019;
    color: white;
    padding: 10px 30px;
    border-radius: 7px;
}



@media (max-width: 800px) {
    .top-link {
        display: none;
    }

    .menubar {
        display: block;
    }
}