<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Session</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/d8ca3bfef7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/bookSession.css">

</head>

<body>
    <!-- navbar -->
    <!-- navbar -->
    <nav class="navbar">
        <a href="./index.html" class="brand">SLIET</a>
        <div class="nav-links-section">
            <a href="./index.html" class="nav-link top-link">Home</a>
            <a href="bookSession.html" class="nav-link top-link">Schedule now</a>
            <a href="explore.html" class="nav-link top-link">Explore Mentor</a>
            <a href="webinar.html" class="nav-link top-link">Webinars</a>
            <p class="menubar" onclick="openNav()">MENU</p>
        </div>
    </nav>

    <div class="sidebar">
        <div class="sidebar-links">
            <p class="closemenu" onclick="closeNav()"><i class="fa-solid fa-circle-xmark"></i></p> <br>
            <a href="./index.html" class="nav-link">Home</a>
            <a href="bookSession.html" class="nav-link"> Book demo</a>
            <a href="explore.html" class="nav-link">Explore Mentor</a>
            <a href="webinar.html" class="nav-link">Webinars</a>
        </div>
    </div>

    <div class="book-section">
        <div class="book-section-content">
            <div class="book-head">Your Time, Your Plan, Your Success! <br> Schedule Your future</div>
            <div class="book-para">Focus on providing a purposeful learning experience while Setmore takes care of
                booking each booking.</div>
            <div class="book-head">All-in-one teacher scheduling software <br> for focused learning.</div>
        </div>

        <div class="book-section-img">
            <img class="book-img" src="../images/book.webp" alt="">
        </div>
        <a href="#book" class="book-session-head">Book Your Session with your favourite Professors</a>

    </div>

    <div class="flex justify-center" style="margin-top: 60px;">
        <p class="highlight-text">We Make it Simple ❤️</p>
    </div>
    <p class="title">Book in just 2 step</p>
    <p class="subtitle">Don't Settle for Less, Join SLIET and Elevate Your Hustle Game</p>

    <!-- book session section -->
    <div class="teacher-section-main" id="book">

    </div>

    <img src="../images/professor.jpeg" alt="" style="margin: auto; display: block; width: 100%;">
    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <p class="footer-title">Meet My Mentor</p>
                <p class="footer-description">Helping Creators Monetize Their Creation</p>

                <div class="social-icons">
                    <img src="../images/instagram.svg" alt="Instagram">
                    <img src="../images/facebook.svg" alt="Facebook">
                    <img src="../images/youtube.svg" alt="YouTube">
                    <img src="../images/spotify.svg" alt="Spotify">
                </div>
            </div>

            <div class="footer-links">
                <p class="font-semibold">Join Now</p>
                <p>Sign Up</p>
                <p>Log In</p>
                <p>Become a Mentor</p>
            </div>

            <div class="footer-links">
                <p class="font-semibold">Important Links</p>
                <p>Explore Mentors</p>
                <p>Webinars</p>
                <p>Write</p>
            </div>

            <div class="footer-links">
                <p class="font-semibold">Legal</p>
                <p>Terms and Conditions</p>
                <p>Privacy Policy</p>
                <p>Become a Mentor</p>
            </div>
        </div>

        <hr class="last-divider">

        <p class="copyright">© 2023 NOVUM CLARIUM INVESTMENTS AND VENTURES PRIVATE LIMITED. All rights reserved.</p>
    </footer>


    <script src="../scripts/bookSession.js"></script>
</body>

</html>