<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/d8ca3bfef7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/chatbot.css">
    <title>SLIET</title>
</head>

<body>
    <!-- navbar -->
    <nav class="navbar">
        <a href="./index.html" class="brand">SLIET</a>
        <div class="nav-links-section">
            <a href="./index.html" class="nav-link top-link">Home</a>
            <a href="bookSession.html" class="nav-link top-link">Schedule now</a>
            <a href="explore.html" class="nav-link top-link">Explore Mentor</a>
            <a href="webinar.html" class="nav-link top-link">Webinars</a>
            <p class="menubar" onclick="openNav()">MENU</p>
        </div>
    </nav>

    <div class="sidebar">
        <div class="sidebar-links">
            <p class="closemenu" onclick="closeNav()"><i class="fa-solid fa-circle-xmark"></i></p> <br>
            <a href="./index.html" class="nav-link">Home</a>
            <a href="bookSession.html" class="nav-link"> Book demo</a>
            <a href="explore.html" class="nav-link">Explore Mentor</a>
            <a href="webinar.html" class="nav-link">Webinars</a>
        </div>
    </div>
    <!-- Fixed chat icon -->
    <div class="fixed-chat-icon" onclick="toggleChat()">
        <img src="../images/chat.png" alt="Chat Icon" style="width: 100px; height: 90px; ">
    </div>

    <div class="chatbox" id="chatbox">
        <div class="chatlogs" id="chatlogs">
        </div>
        <div class="chat-input">
            <input type="text" id="userInput" placeholder="Type a message...">
            <button onclick="sendMessage()">Send</button>
        </div>
    </div>

    <!-- hero page -->
    <div class="hero-section">
        <div class="hero-content">
            <marquee direction="left" class="content">Level Up your Hustle Game</marquee>
            <h1 class="hero-head">Turn Every Minute into Meaningful Guidance.</h1>
            <p class="hero-description">Forget scheduling troubles! Connect with experienced faculty through our
                <br>easy-to-use platform.
                Enjoy smooth, helpful mentorship with features designed <br>to make your sessions simple and focused on
                learning."✨
            </p>
            <div class="our-products">
                <p>Start Connecting</p>
                <div class="our-products-list">
                    <div class="single-product-card">
                        <i class="fa-solid fa-person"></i>
                        <p class="single-product-content">Mentorship</p>
                    </div>
                    <div class="single-product-card">
                        <i class="fa-solid fa-handshake"></i>
                        <p class="single-product-content">Counselling</p>
                    </div>
                    <div class="single-product-card">
                        <i class="fa-solid fa-users-line"></i>
                        <p class="single-product-content">Faculty</p>
                    </div>
                    <div class="single-product-card">
                        <i class="fa-solid fa-chalkboard-user"></i>
                        <p class="single-product-content">Live Webinars</p>
                    </div>
                    <div class="single-product-card">
                        <i class="fa-regular fa-message"></i>
                        <p class="single-product-content">Ask Doubt</p>
                    </div>
                </div>
            </div>

            <!-- find a Mentor -->
            <div class="find-section">
                <a href="bookSession.html" class="find-mentor">Book a Time</a>
                <a href="explore.html" class="explore-more">Explore Faculty</a>
            </div>
        </div>


        <div class="hero-images">
            <img class="hero-img" src="../images/hero-pic1.png" alt="">
        </div>
    </div>

    <!-- our services -->
    <div class="our-service-section">
        <div class="our-service-navbar">
            <div class="our-service-title active" onclick="changeService(0)">1 : 1 Video Call</div>
            <div class="our-service-title" onclick="changeService(1)">1 : 1 DMs</div>
            <div class="our-service-title" onclick="changeService(2)">Webinars</div>
            <div class="our-service-title" onclick="changeService(3)">Mentorship</div>
        </div>
        <div class="about-our-service">
            <!-- Service Section will render here -->
        </div>
    </div>

    <div class="container">
        <div class="image-container">
            <img src="https://chronus.com/wp-content/uploads/2024/04/product_software_mentoring_enroll.png"
                alt="Mentoring Image">
        </div>

        <div class="text-container">
            <p class="section-title">SEAMLESS MENTORSHIP CONNECTIONS</p>
            <p class="main-title">Hassle-Free <span class="highlighted-text">Booking</span></p>
            <p class="description">We Promise a Simple 2-Step Booking Process. See how easy it is!</p><br>

            <div class="steps-container">
                <div class="step">
                    <p class="step-number">01</p>
                    <div class="step-content">
                        <p class="step-title">Select a Mentor</p>
                        <p class="step-description">Browse through our list of experienced faculty members.</p>
                    </div>
                </div><br>

                <div class="step">
                    <p class="step-number">02</p>
                    <div class="step-content">
                        <p class="step-title">Choose a Time</p>
                        <p class="step-description">Pick a time that suits you for a one-on-one session.</p>
                    </div>
                </div>
            </div>
        </div>
    </div><br>

    <!-- profile link -->
    <div class="mentorship-container">

        <div class="text-container">
            <p class="section-title">Enhanced Mentorship Experience</p>
            <p class="main-title">Connect <span class="highlighted-text">Seamlessly</span></p>
            <p class="description">Browse Mentor Profiles </p>

            <div class="steps-container">
                <div class="step">
                    <p class="step-number">01</p>
                    <div class="step-content">
                        <p class="step-title">Book a Session</p>
                        <p class="step-description">Book a mentorship session from available slots.</p>
                    </div>
                </div>
            </div><br>
            <p>Start Your Mentorship Journey Today!</p>
        </div>

        <div>
            <img src="../images/hero-img.jpeg" alt="Mentoring Image" width="450px" style="margin: 15px;">
        </div>
    </div>


    <div class="flex justify-center" style="margin-top: 60px;">
        <p class="highlight-text">We Make it Simple ❤️</p>
    </div>`
    <p class="title">Key Highlights</p>
    <p class="subtitle">Don't Settle for Less, Join SLIET and Elevate Your Hustle Game</p>

    <!-- Grid -->
    <div class="grid-container">
        <div class="feature-item">
            <i class="fa-solid fa-file-lines icon"></i>
            <p class="feature-title">Automated System</p>
            <p class="feature-description">Easily book mentorship sessions with automated notifications for upcoming
                meetings.</p>
        </div>

        <div class="feature-item">
            <i class="fa-solid fa-building-columns icon"></i>
            <p class="feature-title">Experienced Faculty</p>
            <p class="feature-description">Connect with knowledgeable faculty mentors ready to provide academic and
                career guidance.</p>
        </div>

        <div class="feature-item">
            <i class="fa-solid fa-video icon"></i>
            <p class="feature-title">Real-Time Communication</p>
            <p class="feature-description">Engage in one-on-one video calls and chats to clarify doubts and get support.
            </p>
        </div>

        <div class="feature-item">
            <i class="fa-solid fa-clock icon"></i>
            <p class="feature-title">Flexible Time Slots</p>
            <p class="feature-description">Choose from available time slots that fit your schedule for hassle-free
                bookings.</p>
        </div>

        <div class="feature-item">
            <i class="fa-solid fa-file-lines icon"></i>
            <p class="feature-title">Resource Sharing</p>
            <p class="feature-description">Access shared resources and materials recommended by your mentors to enhance
                learning.</p>
        </div>

        <div class="feature-item">
            <i class="fa-solid fa-people-group icon"></i>
            <p class="feature-title">Community Support</p>
            <p class="feature-description">Join a vibrant community of students and mentors for collaborative learning and networking.</p>
        </div>
    </div><br><br>


    <img src="../images/professor.jpeg" alt="group-image" style="margin: auto; display: block; width: 100%;">
    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <p class="footer-title">Meet My Mentor</p>
                <p class="footer-description">Helping Creators Monetize Their Creation</p>

                <div class="social-icons">
                    <img src="../images/instagram.svg" alt="Instagram">
                    <img src="../images/facebook.svg" alt="Facebook">
                    <img src="../images/youtube.svg" alt="YouTube">
                    <img src="../images/spotify.svg" alt="Spotify">
                </div>
            </div>

            <div class="footer-links">
                <p class="font-semibold">Join Now</p>
                <p>Sign Up</p>
                <p>Log In</p>
                <p>Become a Mentor</p>
            </div>

            <div class="footer-links">
                <p class="font-semibold">Important Links</p>
                <p>Explore Mentors</p>
                <p>Webinars</p>
                <p>Write</p>
            </div>

            <div class="footer-links">
                <p class="font-semibold">Legal</p>
                <p>Terms and Conditions</p>
                <p>Privacy Policy</p>
                <p>Become a Mentor</p>
            </div>
        </div>

        <hr class="last-divider">

        <p class="copyright">© 2023 NOVUM CLARIUM INVESTMENTS AND VENTURES PRIVATE LIMITED. All rights reserved.</p>
    </footer>


    <script src="../scripts/index.js"></script>
    <script src="../scripts/chatbot.js"></script>
</body>

</html>